.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #f2832f;
    /* background-image: url(https://static.tildacdn.com/tild3434-6630-4364-a362-313333346130/photo.jpg); */
    background-repeat: no-repeat;
    display: grid;
}

.cheif{
  height:80vh;
  width: 510px;
  position: absolute;
  margin-top: 78px;
  margin-left: 61%;

 } 
 .a1{
  width:28%;
  height:79vh;
  margin-left: 10%;
  margin-top: 9%;
  position:absolute;
 }
 .a2{
  height: 83vh;
  width: 9%;
  position: absolute;
  margin-left: 91%;
  
 }
.d1{
  height: 31vh;
  width: 215px;
  position: absolute;

}
.d2{
  height: 30vh;
  width: 200px;
  margin-left: 12%;
  position:absolute;
}
.d3{
  height: 30vh;
  width: 200px;
  margin-top: 14%;
  position: absolute;
}
.d4{
  height: 34vh;
  width: 250px;
  margin-left: 61%;
  margin-top: 22%;
  position: absolute;
}

.login-popup-container{
    place-self: center;
    width:max(23vw,330px);
    color: #808080;
    background-color: #ffffffdd;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-pop-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-pop-title img{
    width:16px;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.bv1{
    border: none;
    padding:10px;
    border-radius: 4px;
    color: white;
    background-color: #f2832f;
    font-size: 15px;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup p span{
    color: #f2832f;
    font-weight: 500;
    cursor: pointer;
}
/* For Laptops (1024px) */
@media (max-width: 1024px) {
  .login-popup{
    background-image: url(https://static.tildacdn.com/tild3434-6630-4364-a362-313333346130/photo.jpg);
  }
    .login-popup-container {
        width: 30vw;
        padding: 20px 25px;
        gap: 20px;
        font-size: 13px;
    }
    .login-popup-inputs input, .login-popup-container button {
        padding: 8px;
    }
    .cheif{
        display: none;
    }
    .a1{
      display: none;
    } 
    .a2{
      display: none;
    } 
    .d1{
      display: none;
    }
     .d2 {
      display: none;
    }
    .d3{
      display: none;
    } 
    .d4 {
        display: none;
    }
}

/* For Tablets (768px) */
@media (max-width: 768px) {
  .login-popup{
    width: 103%;
    background-image: url(https://static.tildacdn.com/tild3434-6630-4364-a362-313333346130/photo.jpg);
   }
    .login-popup-container {
        width: 40vw;
        padding: 15px 20px;
        gap: 15px;
    }
    .login-popup-inputs input, .login-popup-container button {
        padding: 8px;
        font-size: 13px;
    }
    .login-pop-title img {
        width: 14px;
    }
   .cheif{
        display: none;
    }
    .a1{
      display: none;
    } 
    .a2{
      display: none;
    } 
    .d1{
      display: none;
    }
     .d2 {
      display: none;
    }
    .d3{
      display: none;
    } 
    .d4 {
        display: none;
    }
}

/* For Mobiles (up to 468px) */
@media (max-width: 468px) {
    .login-popup {
        background-size: cover;
        background-image: url(https://static.tildacdn.com/tild3434-6630-4364-a362-313333346130/photo.jpg);
    }
    .login-popup-container {
        width: 70vw;
        padding: 15px;
        gap: 15px;
        font-size: 12px;
    }
    .login-popup-inputs input, .login-popup-container button {
        padding: 6px;
        font-size: 12px;
    }
    .login-pop-title img {
        width: 12px;
    }
    .login-popup-condition {
        margin-top: -10px;
    }
    .cheif{
        display: none;
    }
    .a1{
      display: none;
    } 
    .a2{
      display: none;
    } 
    .d1{
      display: none;
    }
     .d2 {
      display: none;
    }
    .d3{
      display: none;
    } 
    .d4 {
        display: none;
    }
}
