.chef-lady{
  height:50vh;
  width: 250px;
  position: absolute;
  margin-left: 43%;
  margin-top: 110px;
}
.testimonial-slider {
    height:45vh;
    width: 400px;
    margin-left: 25%;
    margin-top:10%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial {
    position: relative;
    padding: 20px;
    color: #f2832f;
    /* border: 1px solid red; */
    margin-top: -8%;
  }
  
  .testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .testimonial-content {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .testimonial-name {
    font-weight: bold;
    color: hwb(0 0% 100% / 0.925);
    font-size: 1.1rem;
  }
  
  .testimonial-title {
    color: #757575;
    font-size: 0.9rem;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .head{
    font-weight: 570;
    text-align: center;
    padding: 20px;
  }
  hr{
    margin: 60px 0px;
    height:2px;
    background-color:#e2e2e2;
    border: none;
  }
  /* for laptop */
  @media (max-width: 1024px) {
    .testimonial-slider{
      margin-top: 80px;
      margin-left: 180px;
    }
  .chef-lady{
  margin-top: -1px;
  margin-left: 51.7%;
  }
  }
/* For tablet  */
@media (max-width: 768px) {
  .chef-lady{
    display: none;
  }
  .testimonial-slider{
    margin-top: 15px;
    margin-left: 87px;
  }
}
/* For mobile devices (up to 767px) */
@media (max-width: 767px) {
  .head{
    font-size: 1.5em;
  }
  .chef-lady{
  display: none;
  }
  .testimonial-slider {
    margin-top: 15px;
    margin-left: 2px;
    padding: 5px;
    border-radius: 5px;
    height:45vh;
    width:90%;
  }

  .testimonial-image {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }

  .testimonial-content {
    font-size: 1rem;
  }

  .testimonial-name {
    font-size: 1rem;
  }

  .testimonial-title {
    font-size: 0.8rem;
  }
}
  
 